@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
}

h1{
	font-size: 48px;
	text-align: center;
	color: cornflowerblue;
	font-weight: 200;
}

div{
	width: 100%;
}

.heading{
	height: 75%;
	width: 100%;
	z-index: -1;
	position: relative;
	background-attachment: fixed;
	background-size: cover;
	vertical-align: bottom;
	color: #fff;
}
.heading h1{
	bottom: 0;
	position: absolute;
	font-size: 64px;
	font-weight: 800;
	color: #fff;

}
.bigNum{
	text-align: center;
}

.bigNum h1{
	font-size: 48px;
	font-weight: 400;
	color: cornflowerblue;
	padding-bottom: 0;
	margin-bottom: 0;

	text-align: center;

	
}
.bigNum h3{
	font-size: 24px;
	font-weight: 200;
	color: #999999;
	text-align: center;
}


.pillButton{
	height: 64px;
	border-radius: 32px;
	font-size: 48px;
	width: 100%;
	font-family: 'Open Sans',sans-serif;
	font-weight: 200;
	text-decoration: none;

}
.orButton {
    background-image: -webkit-linear-gradient(335deg, #e2c339, #F17C35, #E2336E);
    background-image: -moz-linear-gradient(335deg, #e2c339, #F17C35, #E2336E);
    background-image: -ms-linear-gradient(335deg, #e2c339, #F17C35, #E2336E);
    background-image: -o-linear-gradient(335deg, #e2c339, #F17C35, #E2336E);
    background-image: linear-gradient(335deg, #e2c339, #F17C35, #E2336E);
    color: #fff;
    border: none;
}


.bigInput{
	height:128px;
	background-color: #eee;
	font-family: 'Open Sans',sans-serif;
	border: none;
	width: 100%;
	font-weight: 100;
	font-size: 112px;
}