@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
}

h1{
	font-size: 48px;
	text-align: center;
	color: cornflowerblue;
	font-weight: 200;
}

div{
	width: 100%;
}

.heading{
	min-height:75%;
	height: 75%;
	width: 100%;
	z-index: -1;
	position: relative;
	background-attachment: fixed;
	background-size: cover;
	vertical-align: bottom;
	color: #fff;
}
.heading h1{
	bottom: 0;
	position: absolute;
	font-size: 64px;
	font-weight: 800;
	color: #fff;

}
.bigNum{
	text-align: center;
}

.bigNum h1{
	font-size: 48px;
	font-weight: 400;
	color: cornflowerblue;
	padding-bottom: 0;
	margin-bottom: 0;

	text-align: center;

	
}
.bigNum h3{
	font-size: 24px;
	font-weight: 200;
	color: #999999;
	text-align: center;
}


.pillButton{
	height: 64px;
	border-radius: 32px;
	font-size: 48px;
	width: 100%;
	font-family: 'Open Sans',sans-serif;
	font-weight: 200;
	text-decoration: none;

}
.orButton {
    background-image: -webkit-linear-gradient(335deg, #e2c339, #F17C35, #E2336E);
    background-image: -moz-linear-gradient(335deg, #e2c339, #F17C35, #E2336E);
    background-image: -ms-linear-gradient(335deg, #e2c339, #F17C35, #E2336E);
    background-image: -o-linear-gradient(335deg, #e2c339, #F17C35, #E2336E);
    background-image: linear-gradient(335deg, #e2c339, #F17C35, #E2336E);
    color: #fff;
    border: none;
}


.grButton {
    background-image: -webkit-linear-gradient(135deg, #35d8cc, #39d89b, #3ad835);
    background-image: -moz-linear-gradient(135deg, #35d8cc, #39d89b, #3ad835);
    background-image: -ms-linear-gradient(135deg, #35d8cc, #39d89b, #3ad835);
    background-image: -o-linear-gradient(135deg, #35d8cc, #39d89b, #3ad835);
    background-image: linear-gradient(135deg, #35d8cc, #39d89b, #3ad835);
    color: #fff;
    border: none;
}



.bluButton {
    background-image: -webkit-linear-gradient(315deg, #35C9FF, #4845e7, #8c39e7, #da2fe7);
    background-image: -moz-linear-gradient(315deg, #35C9FF, #4845e7, #8c39e7, #da2fe7);
    background-image: -ms-linear-gradient(315deg, #35C9FF, #4845e7, #8c39e7, #da2fe7);
    background-image: -o-linear-gradient(315deg, #35C9FF, #4845e7, #8c39e7, #da2fe7);
    background-image: linear-gradient(315deg, #35C9FF, #4845e7, #8c39e7, #da2fe7);
    color: #fff;
    border: none;
}


.bigInput{
	height:128px;
	background-color: #fff;
	font-family: 'Open Sans',sans-serif;
	border: none;
	width: 100%;
	font-weight: 100;
	font-size: 112px;
}
.bigInput :hover{
	border: none;
}

.smallInput{
	height:48px;
	background-color: #fff;
	font-family: 'Open Sans',sans-serif;
	border: none;
	width: 100%;
	font-weight: 100;
	font-size: 36px;
}
.smallInput :hover{
	border: none;
}

.navIco{
	top:10;
	left:10;
	position: fixed;
	font-size: 36px;
}